<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="my.fore_end.dao.DemandDao">
	<!-- 查找一页的需求单数据 -->
	<select id="toGetAllDemandObject" resultType="demand">
	  select * from t_demandlist limit #{start},#{pageSize}
	</select>
	<!-- 查询需求单总数量 -->
	<select id="toGetAllDemandNum" resultType="Integer">
	  select count(*) from t_demandlist
	</select>
	<!-- 保存需求单到购物车中 -->
	<insert id="saveDemandToCart">
		insert into t_demandcart values(null,#{demandId},#{uId})
	</insert>
	<!-- 条件查询需求单 -->
	<select id="toSearchDemandObject" resultType="demand">
		select * from t_demandlist <include refid="whereQuery"/>
	</select>
	<sql id="whereQuery">
        <where>
        	 <if test="searchName!=null and searchName!=''">
        	 prodName like concat("%",#{searchName},"%") 
        	 </if>
        	 <if test="buyType!=0">
        	 and buyType = #{buyType} 
        	 </if>
        	 <if test="beginDate!=null and beginDate!='' and endDate!=null and endDate!=''">
        	 and beginTime Between #{beginDate} And #{endDate}
        	 </if>
        	
        </where>
    </sql>
</mapper>