<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="my.fore_end.dao.ReleaseDemandDao">
	<!-- 保存需求单信息 -->
	<insert id="saveDemandObject">
		insert into t_demandlist values(null,
		#{entity.prodName},
		#{entity.prodType},
		#{entity.minPrice},
		#{entity.maxPrice},
		#{entity.buyType},
		#{entity.phoneNumber},
		#{entity.uId},
		#{entity.beginTime},
		#{entity.endTime},
		#{entity.note},
		#{entity.status},
		#{entity.updateTime})
	</insert>

</mapper>